{% load i18n %}
{% load staticfiles %}

<!-- Bread crumb is created dynamically -->
<!-- row -->
<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark">

			<!-- PAGE HEADER -->
			<i class="fa-fw fa fa-home"></i>
			{% trans 'Main' %}
			<span>>
				{% trans 'Daily Report' %}
			</span>

		</h1>
	</div>
</div>
<!-- end row -->

<div class="row">
	<div class="col-sm-12 col-md-6 col-lg-4">
		<div id="search-area" class="input-group input-group-lg search-area">
			<span class="input-group-addon">{% trans 'Select a report date' %}</span>
			<input type="text" class="form-control search-text" name="date" id="daily-report-date">
			<span class="input-group-btn">
				<button class="btn btn-default search-btn" type="button" id="daily-report-date-submit">
					<span class="fa fa-fw fa-cloud-download fa-lg"></span>
			  </button>
			</span>
		</div>
	</div>
</div>


<div id="daily-report-container" data-load data-load-url="{% url 'dailytrans:download_daily_report' %}"></div>

<script>

    pageSetUp();

    pagefunction = function () {
        // Default to yesterday
        var d = new Date();
        var yesterday = d.addDays(-1);

        yesterday = $.datepicker.formatDate('yy/mm/dd', yesterday);

        $input = $('#daily-report-date')

        $input.datepicker({
            dateFormat: 'yy/mm/dd',
            defaultDate: -1,
        }).datepicker("setDate", yesterday);

        $('#daily-report-date-submit').on('click', function (e) {
            var $container = $('#daily-report-container');
            var url = $container.attr('data-load-url');

            var date = $input.datepicker('getDate');


            data = {
                'day': date.getDate(),
                'month': date.getMonth() + 1,
                'year': date.getFullYear(),
            }

            $.ajax({
                url: url,
                type: 'POST',
                data: data,
                xhrFields: {
                    responseType: 'blob'
                },
                cache: true,
                beforeSend: function (xhr, settings) {
                    // CSRF token
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                    }

                    $container.removeData().html("");

                    // place cog
                    $container.html('<h1 class="ajax-loading-animation"><i class="fa fa-cog fa-spin"></i> '
		                    + '報表產生中，請稍後' + '...</h1>');
                },
                success: function (data, status, xhr) {
                    $container.removeData().html("");
                    const blob = new Blob([data], {type: 'application/octetstream'});
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    let filename = 'data.xlsx';

                    const contentDisposition = xhr.getResponseHeader('Content-Disposition');

                    if (contentDisposition) {
                        let filenameMatch = contentDisposition.match(/filename="?(.+)"?/i);
                        if (filenameMatch && filenameMatch.length === 2) {
                            filename = decodeURIComponent(filenameMatch[1]);
                        }
                    }

                    a.href = url;
                    a.download = filename;
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        })
    }

    // PAGE RELATED SCRIPTS

    pagefunction();

</script>



